body {
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Pixolde', 'Unifont', monospace;
}

.profile {
    max-height: 80px;
    object-fit: contain;
    display: inline;
    margin-right: 10px;
    border-radius: 15%;
    vertical-align: middle;
}

hr {
    margin: 4px;
}

.upper-part {
    word-break: keep-all;
    max-width: 100%;
    font-size: 28pt;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: normal;
    margin-bottom: 2px;
}

#chatmsg {
    width: calc(100% - 40px);
    color: white;
    --user-color: hsl(var(--user-h, 0), var(--user-s, 100), calc(var(--user-l, 50)));
    --user-color-dim: hsla(var(--user-h, 0), var(--user-s, 100), calc(var(--user-l, 50)), 0.4);
    --user-color-shift: hsla(calc(var(--user-h, 0) + 60), var(--user-s, 100), calc(var(--user-l, 50)), 0.4);
    background: linear-gradient(-60deg, var(--user-color-dim), var(--user-color-shift));
    padding: 9px;
    margin-bottom: 6px;
    overflow-wrap: break-word;
    text-shadow: 2px 2px 2px black;
    font-size: 24pt;
    animation: fade-in 0.6s;
    border: 6px groove rgba(255, 255, 255, 0.61);
    border-radius: 8px;
}

#chatmsg:last-child {
    scroll-snap-align: start end;
    margin-bottom: 20px;
}

#chatmsgs {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 20px 0px 20px 0px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#chatmsgs::-webkit-scrollbar {
    display: none;
}

#chatmsgs:empty {
    padding-top: 0px;
}

#badge {
    height: 1em;
    vertical-align: middle;
    margin-right: 8px;
}

#emote {
    height: 1.2em;
    vertical-align: middle;
}

#emoteonly {
    height: 1.6em;
    vertical-align: middle;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}